.view-custom-soumissions-de-webform,
.view-liste-candidatures,
.view-liste-candidatures-candidat {

  .view-header {
    text-align: center;
    margin: 20px auto;
  }

  .view-content {

    .views-infinite-scroll-content-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: auto;

      .card {
        margin-bottom: 24px;
        margin-top: 24px;

        &:hover .card-body {
          box-shadow: inset $c-blue 0 120px 0 0;
          color: #fff;
        }

        &:active .card-body {
          box-shadow: inset $c-blue 0 120px 0 0;
          color: #fff;
        }

        .card-body {
          transition: .3s ease-out;
        }
      }

      .modal-content {
        .showCv {
          color: $c-blue;
          transition: .3s ease-out;
          border: 1px solid $c-blue;

          &:hover {
            box-shadow: inset $c-blue 0 55px 1px 0;
            color: white;
          }
          &:active {
            box-shadow: inset $c-blue 0 55px 1px 0;
            color: white;
          }
        }

        .modal-body {
          .sub-msg p {
            max-height: 290px;
            overflow: auto;
          }
        }

        .modal-footer {
          button {
            width: 140px;
          }
        }
      }
    }
  }
}

