.view-custom-soumissions-de-webform, .view-liste-candidatures, .view-liste-candidatures-candidat {

  .view-header {
    margin: 20px auto;
    text-align: center;
  }
  .modal-content {
    .showCv {
      color: $c-blue;
      transition: .3s ease-out;
      border: 1px solid $c-blue;

      &:hover {
        box-shadow: inset $c-blue 0 55px 1px 0;
        color: white;
      }

    }
  }

  .card-header {
    display: flex;
    background: $c-blue;
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
  }

}

.view-liste-candidatures {
  .card {
    margin-bottom: 24px;
    margin-top: 24px;
  }
}
  @media all and (max-width: 425px) {
    .view-custom-soumissions-de-webform, .view-liste-candidatures {

      .card {

        &:hover .card-body {
          box-shadow: inset $c-blue 0px 500px 0px 0;
          color: #fff;
        }

        &:hover .showCv {
          background: #fff;
          color: $c-blue;
        }
      }

      .card-header {
        flex-direction: column;

        p {
          font-size: .8em;
        }
      }
    }
    }
