form#node-jobs-form, form#node-jobs-edit-form {

  .form-actions {
    display: flex;
    justify-content: center;
    margin: 50px 0;

    button.form-submit {
      height: 62px;
      width: 250px;
      border: none;
    }

    a#edit-delete {
      height: 62px;
      width: 250px;
      border: none;
      line-height: 35px;
      transition: 0.5s;

      &:hover {
        box-shadow: inset red 0 110px 1px 0;
        color: white;
      }
    }
  }

  .btn-job-acc {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      box-shadow: none;
      text-decoration: none;
    }
  }

  label {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;

    &.custom-control-label {
      font-size: 1rem;
    }
  }

  #edit-field-adresse-0-value-map-actions {
    display: none;
  }

  fieldset[id*="adresse"] legend {
    margin-bottom: 4px;
  }

  label[for*="adresse"] {
    display: none;
  }

  .list-group-item {
    border: none;
  }

  div[id*="format"] {
    display: none;
  }

  small#edit-field-skills--description li.list-group-item:nth-child(2) {
    display: none;
  }

  ul[class*="select2"] li.select2-selection__choice {
    background-color: #0079c0 !important;
    color: #fff;
    border: none;

    span.select2-selection__choice__remove {
      color: #fff;
    }
  }
}

.node-jobs-delete-form {
  text-align: center;

  .form-actions {
    display: flex;
    flex-direction: column;
  }
}
