.view-jobs-index {
  margin-top: 50px;

  .view-empty {
    text-align: center;
  }
}

/*.sidebar_first {
  padding: 203px 20px 50px 20px;
  background: $c-blue;
  color: white;
}

@media all and (max-width: 768px) {
  .sidebar_first {
    padding: 50px 20px 50px 20px;
  }
}*/
