.section-user, .path-frontpage {
  background-color: black;
}
.path-frontpage, .path-user {
  // MODAL LOGIN
  .modal-header.success-color-dark {
    background-color: #388e3c !important;
  }

  // MODAL REGISTER
  .user-register-form {
    div.radio {
      display: flex;
      flex-wrap: wrap;

      label.bootstrap-radio {
        color: white;
        width: 250px;
        height: 60px;
        text-align: center;
        line-height: 35px;
        flex-grow: 1;

        &:before {
          display: none;
        }
      }
    }

    .form-item-pass {
      display: flex;
      flex-wrap: wrap;

      div.password-suggestions {
        display: none !important;
      }

      div.password-strength {
        width: 90%;

        .password-strength__title {
          font-size: .9rem;
        }
      }

      .password-parent, .confirm-parent {
        flex-grow: 1;

        input {
          width: 95%;
        }
      }

      small.description {
        display: none;
      }
    }
  }

  .profile-container, .welcome-container {

    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .modal-backdrop {
    z-index: 0;
  }

}
