.section-user, .path-frontpage {
  background-color: black;
}
.path-frontpage, .path-user {
  // MODAL LOGIN
  .modal-header.success-color-dark {
    background-color: #388e3c !important;
  }

  // MODAL REGISTER
  .user-register-form {
    div.radio {
      display: flex;
      flex-wrap: wrap;

      label.bootstrap-radio {
        color: white;
        width: 250px;
        height: 60px;
        text-align: center;
        line-height: 35px;
        flex-grow: 1;

        &:before {
          display: none;
        }
      }
    }

    .register-choice {
      background-color: $autumn-road-2;
      transition: 0.5s;

      &:hover, &.active {
        background-color: $autumn-pumpkin-2;
        color: #fff;
      }
    }

    .form-item-pass {
      display: flex;
      flex-wrap: wrap;

      div.password-suggestions {
        display: none !important;
      }

      div.password-strength {
        width: 90%;

        .password-strength__title {
          font-size: .9rem;
        }
      }

      .password-parent, .confirm-parent {
        flex-grow: 1;

        input {
          width: 95%;
        }
      }

      small.description {
        display: none;
      }
    }
  }

  .profile-container, .welcome-container {

    .actions-modal {
      .modal-dialog {
        margin: 0;
        max-height: unset;
      }
      .modal-content {
        height: 100%;
        background: rgba(0,0,0,0.5);
        backdrop-filter: blur(10px);

        .modal-header, .modal-footer {
          border: none;
        }
      }
    }

    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .modal-backdrop {
    z-index: 0;
  }

  .button-login,
  .button-register,
  .button-go-back {
    flex: 1;
    min-width: 160px;
    color: rgba(255,255,255,0.7) !important;
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(0px);
    &:hover, &:active {
      color: #fff;
    }
  }

}
