$img1: 'https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80';
$img2: 'https://images.unsplash.com/photo-1434725039720-aaad6dd32dfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2098&q=80';
$img3: 'https://images.unsplash.com/photo-1470770841072-f978cf4d019e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80';
$img4: 'https://images.unsplash.com/photo-1541002696302-c407762707f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80';
$img5: 'https://images.unsplash.com/photo-1526239187794-f8c27c7872ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1948&q=80';


.section-user, .path-frontpage {
  background-color: black;
}
.path-frontpage, .path-user {
  // MODAL LOGIN
  .modal-header.success-color-dark {
    background-color: #388e3c !important;
  }

  // MODAL REGISTER
  .user-register-form {
    div.radio {
      display: flex;
      flex-wrap: wrap;

      label.bootstrap-radio {
        color: white;
        width: 250px;
        height: 60px;
        text-align: center;
        line-height: 35px;
        flex-grow: 1;

        &:before {
          display: none;
        }
      }
    }

    .form-item-pass {
      display: flex;
      flex-wrap: wrap;

      div.password-suggestions {
        display: none !important;
      }

      div.password-strength {
        width: 90%;

        .password-strength__title {
          font-size: .9rem;
        }
      }

      .password-parent, .confirm-parent {
        flex-grow: 1;

        input {
          width: 95%;
        }
      }

      small.description {
        display: none;
      }
    }
  }

  .welcome-container, .profile-container {
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .modal-backdrop {
    z-index: 0;
  }

  .welcome-slide {

    .slideshow {
      list-style: none;
      z-index: 1;
    }

    .slideshow li span {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      color: transparent;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 0;
      backface-visibility: hidden;
      animation: imageAnimation 24s linear infinite 0s;
    }

    .no-cssanimations .slideshow li span {
      opacity: 1;
    }

    @-webkit-keyframes imageAnimation {
      0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
      }
      12.5% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
      }
      25% {
        opacity: 1;
      }
      37.5% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    @-moz-keyframes imageAnimation {
      0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
      }
      12.5% {
        opacity: 1;
        -moz-animation-timing-function: ease-out;
      }
      25% {
        opacity: 1;
      }
      37.5% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    @keyframes imageAnimation {
      0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
      12.5% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
      25% {
        opacity: 1;
      }
      37.5% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    @-webkit-keyframes titleAnimation {
      0% {
        opacity: 0;
      }
      12.5% {
        opacity: 1;
      }
      25% {
        opacity: 1;
      }
      37.5% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    @-moz-keyframes titleAnimation {
      0% {
        opacity: 0;
      }
      12.5% {
        opacity: 1;
      }
      25% {
        opacity: 1;
      }
      37.5% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    @keyframes titleAnimation {
      0% {
        opacity: 0;
      }
      12.5% {
        opacity: 1;
      }
      25% {
        opacity: 1;
      }
      37.5% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    .slideshow li:nth-child(1) span {
      background-image: url($img1);
    }

    .slideshow li:nth-child(2) span {
      background-image: url($img2);
      animation-delay: 6s;
    }

    .slideshow li:nth-child(3) span {
      background-image: url($img3);
      animation-delay: 12s;
    }

    .slideshow li:nth-child(4) span {
      background-image: url($img4);
      animation-delay: 18s;
    }

    .slideshow li:nth-child(5) span {
      background-image: url($img5);
      animation-delay: 24s;
    }
  }
}
