// CUSTOM COLORS
.bg-c-green {
  background-color: $c-green;
}

.bg-c-light-green {
  background-color: $c-light-green;
}

.bg-c-lighten-green {
  background-color: $c-lighten-green;
}

.bg-c-lightest-green {
  background-color: $c-lightest-green;
}

.bg-c-dark-green {
  background-color: $c-dark-green;
}

.bg-c-blue {
  background-color: $c-blue;
}

.bg-c-light-blue {
  background-color: $c-light-blue;
}

.bg-c-lighten-blue {
  background-color: $c-lighten-blue;
}

.bg-c-lightest-blue {
  background-color: $c-lightest-blue;
}

.bg-c-dark-blue {
  background-color: $c-dark-blue;
}

.bg-c-red {
  background-color: $c-red;
}

.bg-c-light-red {
  background-color: $c-light-red;
}

.bg-c-lighten-red {
  background-color: $c-lighten-red;
}

.bg-c-lightest-red {
  background-color: $c-lightest-red;
}

.bg-c-dark-red {
  background-color: $c-dark-red;
}

.text-c-red {
  color: $c-red;
}

.text-c-light-red {
  color: $c-light-red;
}

.text-c-lighten-red {
  color: $c-lighten-red;
}

.text-c-lightest-red {
  color: $c-lightest-red;
}

.text-c-dark-red {
  color: $c-dark-red;
}

.text-c-blue {
  color: $c-blue;
}

.text-c-light-blue {
  color: $c-light-blue;
}

.text-c-lighten-blue {
  color: $c-lighten-blue;
}

.text-c-lightest-blue {
  color: $c-lightest-blue;
}

.text-c-dark-blue {
  color: $c-dark-blue;
}

.text-c-green {
  color: $c-green;
}

.text-c-light-green {
  color: $c-light-green;
}

.text-c-lighten-green {
  color: $c-lighten-green;
}

.text-c-lightest-green {
  color: $c-lightest-green;
}

.text-c-dark-green {
  color: $c-dark-green;
}

button[class*="c-"], a[class*="c-"] {
  &.btn {
    color: white;
  }
}
