// CUSTOM COLORS
.c-green {
  background-color: $c-green;
}

.c-light-green {
  background-color: $c-light-green;
}

.c-lighten-green {
  background-color: $c-lighten-green;
}

.c-lightest-green {
  background-color: $c-lightest-green;
}

.c-dark-green {
  background-color: $c-dark-green;
}

.c-blue {
  background-color: $c-blue;
}

.c-light-blue {
  background-color: $c-light-blue;
}

.c-dark-blue {
  background-color: $c-dark-blue;
}
